# Import Library

In [8]:
import pandas as pd
from datetime import datetime

# Opening existing dataset

In [9]:
df = pd.read_csv('../dataset/anime.csv')

In [10]:
df.describe()

,id,episodes,score,rank,scored_by,popularity,favorites,members,year
count,27970.000000,27970.000000,27970.000000,27970.000000,2.797000e+04,27970.000000,27970.000000,2.797000e+04,27970.000000
mean,32946.925098,13.892385,4.133053,15512.718877,1.930531e+04,13914.858098,430.062066,3.817765e+04,1945.044333
std,19201.449107,47.052540,3.146225,10292.079528,9.785433e+04,8030.506690,4461.466758,1.642490e+05,352.316338
min,1.000000,0.000000,0.000000,1.000000,0.000000e+00,1.000000,0.000000,3.000000e+00,0.000000
25%,13621.500000,1.000000,0.000000,6980.500000,0.000000e+00,6963.500000,0.000000,2.260000e+02,2002.000000
50%,37153.500000,1.000000,5.710000,13969.500000,3.030000e+02,13903.000000,1.000000,1.069000e+03,2013.000000
75%,48749.750000,13.000000,6.640000,20941.750000,3.276000e+03,20867.000000,17.000000,9.179750e+03,2019.000000
max,60765.000000,3057.000000,9.310000,34532.000000,2.888357e+06,27835.000000,232468.000000,4.091374e+06,2027.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27970 entries, 0 to 27969
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             27970 non-null  int64
 1   title          27970 non-null  object
 2   title_english  11947 non-null  object
 3   type           27970 non-null  object
 4   source         27970 non-null  object
 5   episodes       27970 non-null  int64
 6   status         27970 non-null  object
 7   airing         27970 non-null  bool
 8   rating         27970 non-null  object
 9   score          27970 non-null  float64
 10  rank           27970 non-null  int64
 11  scored_by      27970 non-null  int64
 12  popularity     27970 non-null  int64
 13  favorites      27970 non-null  int64
 14  members        27970 non-null  int64
 15  synopsis       22999 non-null  object
 16  season         6037 non-null   object
 17  year           27970 non-null  int64
 18  start          27083 non-null  object
 19  ending         10780 non-null  object
 20  studios        16464 non-null  object
 21  genres         22204 non-null  object
dtypes: bool(1), float64(1), int64(8), object(12)
memory usage: 4.5+ MB

In [12]:
types = df['type'].value_counts()
types

type
TV            8203
Movie         4766
OVA           4157
ONA           3861
Music         3731
Special       1769
TV Special     737
CM             434
PV             231
unknown         81
Name: count, dtype: int64

In [13]:
ranking_anime = {}

for type in types.index:
    anime_from_type = df[df['type'] == type]
    ranking_anime[type] = anime_from_type

# Export based on type

In [14]:
for type in types.index:
    type_df = ranking_anime[type]
    type_df = type_df.sort_values(by='rank')

    # Add ranking on each type
    type_df[f'ranking'] = range(1, len(type_df) + 1)

    # Export
    type_df.to_csv(f'../dataset/ranking/anime_{type}.csv', index=False)
    print(f'Exported {len(type_df)} anime for type {type}')

Exported 8203 anime for type TV
Exported 4766 anime for type Movie
Exported 4157 anime for type OVA
Exported 3861 anime for type ONA
Exported 3731 anime for type Music
Exported 1769 anime for type Special
Exported 737 anime for type TV Special
Exported 434 anime for type CM
Exported 231 anime for type PV
Exported 81 anime for type unknown