# Import Library

In [1]:
import pandas as pd
from datetime import datetime
import json

# Opening existing dataset

In [5]:
df = pd.read_csv('../dataset/anime.csv')

In [6]:
df.describe()

                 id      episodes         score          year
count  27970.000000  27970.000000  27970.000000  27970.000000
mean   32946.925098     13.892385      4.133053   1945.044333
std    19201.449107     47.052540      3.146225    352.316338
min        1.000000      0.000000      0.000000      0.000000
25%    13621.500000      1.000000      0.000000   2002.000000
50%    37153.500000      1.000000      5.710000   2013.000000
75%    48749.750000     13.000000      6.640000   2019.000000
max    60765.000000   3057.000000      9.310000   2027.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27970 entries, 0 to 27969
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             27970 non-null  int64
 1   title          27970 non-null  object
 2   title_english  11947 non-null  object
 3   type           27970 non-null  object
 4   source         27970 non-null  object
 5   episodes       27970 non-null  int64
 6   status         27970 non-null  object
 7   airing         27970 non-null  bool
 8   rating         27970 non-null  object
 9   score          27970 non-null  float64
 10  synopsis       22999 non-null  object
 11  season         6037 non-null   object
 12  year           27970 non-null  int64
 13  start          27083 non-null  object
 14  ending         27083 non-null  object
 15  studios        16464 non-null  object
 16  genres         22204 non-null  object
dtypes: bool(1), float64(1), int64(3), object(12)
memory usage: 3.4+ MB